In [1]:
import pandas as pd

Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  body_pain  age  runny_nose  diff_breath  virus_prob
0   98.483414          1   67           1            1           0
1   98.921034          0   12           0            1           1
2  100.105786          1    7           1            1           1
3   98.543092          1   11           0            1           0
4  100.304603          1   78           1            0           0

In [4]:
df.tail()

           fever  body_pain  age  runny_nose  diff_breath  virus_prob
2838   98.768070          0   72           1           -1           1
2839   99.675222          0   20           1            0           0
2840  101.173407          1   76           0            0           1
2841  100.390725          1   75           1            1           1
2842  100.753574          1   95           0            0           1

In [6]:
df.info() #full info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2843 entries, 0 to 2842
Data columns (total 6 columns):
fever          2843 non-null float64
body_pain      2843 non-null int64
age            2843 non-null int64
runny_nose     2843 non-null int64
diff_breath    2843 non-null int64
virus_prob     2843 non-null int64
dtypes: float64(1), int64(5)
memory usage: 133.3 KB

In [10]:
df['diff_breath'].value_counts()    #helps to group and take counts (for perticular column)

 1    993
 0    959
-1    891
Name: diff_breath, dtype: int64

In [11]:
df.describe()

,fever,body_pain,age,runny_nose,diff_breath,virus_prob
count,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000,2843.000000
mean,100.002136,0.499472,49.852620,0.502286,0.035878,0.505804
std,1.161131,0.500088,29.014152,0.500083,0.813404,0.500054
min,98.000388,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.007745,0.000000,24.000000,0.000000,-1.000000,0.000000
50%,99.985266,0.000000,51.000000,1.000000,0.000000,1.000000
75%,101.020381,1.000000,75.000000,1.000000,1.000000,1.000000
max,101.997358,1.000000,100.000000,1.000000,1.000000,1.000000